@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Nunito:wght@200;400;500&family=Roboto:wght@100;500;700&display=swap');

/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif;
*/


* {
    font-family: 'Montserrat', sans-serif;
}


body {
    background-color: #ece3c8;
    transition:  0.5s;
}

.login-title {
    color: #2d0d3f;
}

.card-title {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.card-header {
    background-color: #212529;
}

.bkg-general {
    background-color: rgba(244, 244, 244, 0.486);
}

label span {
    color: #2d0d3f;
    font-weight: bolder;
    letter-spacing: 3px;
}

input {
    font-family: 'Roboto', sans-serif;
    color:#2d0d3f !important;
}

#password:focus,
#username:focus {
    transition: 0.5s;
    box-shadow: 0 0 0px 2px #212529a3;
    border: 1px solid  transparent;
}


.product-title {
    color: #521b71 ;
}

.bdgen {
    background-color: #320e48;
    color: rgba(255, 255, 255, 0.638);
    padding: 10px 0;
}

.modal-box {
    box-shadow: 0 0 100 rgba(0, 0, 0, 0.345) !important;
}